<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Home</title>
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PIM_IV_Web.styles.css" asp-append-version="true" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <img src="./img/Icon monkey.png" />
            <a id="dashboard" asp-controller="Home" asp-action="Index">
                <i class="fi fi-ts-chart-line-up"></i>
                <span>Visão geral</span>
            </a>
            <a id="bancoHora" asp-controller="BdHora" asp-action="Index">
                <i class="fi fi-ts-clock-five"></i>
                <span>Banco de horas</span>
            </a>
            <a id="folhaPagamento" asp-controller="Holerites" asp-action="Index">
                <i class="fi fi-ts-hand-holding-usd"></i>
                <span>Folha de pagamento</span>
            </a>
            <a id="conf">
                <ion-icon name="settings-outline"></ion-icon>
                <span>Configurações</span>
            </a>
            <a class="leave" asp-controller="Login" asp-action="Leave" >
                <i class="fi fi-rs-exit"></i>
                <span>Sair</span>
            </a>
        </div>
        <main role="main">
            @RenderBody()
        </main>
        @await Component.InvokeAsync("Menu")
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/phosphor-icons"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>