<div class="bancoHoras">
	<div>
		<h1>Banco de horas</h1>
		<div id="search">
			<ion-icon name="search-outline"></ion-icon>
			<input type="text" placeholder="Pesquisar">
		</div>
	</div>
	<div class="listHours">
		<div id="title">
			<i class="ph-thin ph-timer"></i>
			<h2>Controle de ponto</h2>
		</div>
		<div id="list">
			<a>
				<h3>Entrada</h3>
				<form id="status">
					<div>
						<i class="ph-thin ph-sign-in"></i>
						<h3>09:00</h3>
					</div>
					<div>
						<h3>Status</h3>
						<i class="ph-thin ph-check-circle"></i>
					</div>
				</form>
				<p>Ponto efetuado via app mobile</p>
				<p>Sáb, 24 de jan às 09:10</p>
			</a>
			<a>
				<h3>Pausa</h3>
				<form id="status">
					<div>
						<i class="ph-thin ph-sign-in"></i>
						<h3>09:00</h3>
					</div>
					<div>
						<h3>Status</h3>
						<i class="ph-thin ph-check-circle"></i>
					</div>
				</form>
				<p>Ponto efetuado via app mobile</p>
				<p>Sáb, 24 de jan às 09:10</p>
			</a>
			<a>
				<h3>Volta pausa</h3>
				<form id="status">
					<div>
						<i class="ph-thin ph-sign-in"></i>
						<h3>09:00</h3>
					</div>
					<div>
						<h3>Status</h3>
						<i class="ph-thin ph-check-circle"></i>
					</div>
				</form>
				<p>Ponto efetuado via app mobile</p>
				<p>Sáb, 24 de jan às 09:10</p>
			</a>
			<a>
				<h3>Saida</h3>
				<form id="status">
					<div>
						<i class="ph-thin ph-sign-in"></i>
						<h3>09:00</h3>
					</div>
					<div>
						<h3>Status</h3>
						<i class="ph-thin ph-check-circle"></i>
					</div>
				</form>
				<p>Ponto efetuado via app mobile</p>
				<p>Sáb, 24 de jan às 09:10</p>
			</a>
		</div>
	</div>
</div>