@model Funcionario

<aside class="sidebar-right">
    <div>
        @{
            if(Model.ImagemFuncionario != null)
            {
                var base64 = Convert.ToBase64String(Model.ImagemFuncionario);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                <img src="@imgSrc"/>
            }
            else
            {
                <img src="~/img/image-removebg-preview.png" />
            }
        }
        <h3>@Model.NomeCompleto</h3>
        <span></span>
    </div>
    <h3>Informações</h3>
    <a>
        <i class="fi fi-ts-envelopes"></i>
        <p>@Model.Email</p>
    </a>
    <a>
        <i class="fi fi-ts-phone-call"></i>
        <p>@Model.Celular</p>
    </a>
    <div>
    </div>
</aside>