@model Usuario

<aside class="sidebar-right">
    <div>
        <img src="" />
        <h3>@Model.NomeUsuario</h3>
        <span></span>
    </div>
    <h3>Informações</h3>
    <a>
        <i class="fi fi-ts-envelopes"></i>
        <p>@Model.Email</p>
    </a>
    <a>
        <i class="fi fi-ts-phone-call"></i>
        <p></p>
    </a>
    <div>
    </div>
</aside>